<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="wtf.tena.stacker">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Stacker">
        <activity
            android:name=".TargetTheme"
            android:exported="false" />
        <activity
            android:name=".TargetSetting"
            android:exported="false" />
        <activity
            android:name=".ScrambleSetting"
            android:exported="false" />
        <activity
            android:name=".setting.activity.ScrambleSetting"
            android:exported="false" />
        <activity
            android:name=".SelectionTheme"
            android:exported="false" />
        <activity
            android:name=".ThemeSetting"
            android:exported="false" />
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>